<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <title>Proyecto Integrador - Nosotros</title>
</head>

<body>

  <header class="main-header">
    <input type="checkbox" id="menu">

    <nav class="nav-bar"> <!-- nav-bar -->
      <ul class="nav-bar__nav-list">
        <li class="nav-bar__nav-item">
          <a href="/index.html" class="nav-bar__nav-link">Inicio</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="#" class="nav-bar__nav-link">Alta</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="contacto.html" class="nav-bar__nav-link">Contacto</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="#" class="nav-bar__nav-link">Nosotros</a>
        </li>
      </ul>
    </nav> <!-- nav-bar -->

    <div class="search-bar"> <!-- search-bar -->
      <div class="search-bar__logo-container">
        <i class="fa-solid fa-microchip search-bar__logo-img "></i>
      </div>
      <form action="" class="search-bar__form-container">
        <label for="busqueda" class="search-bar__form-label">Buscar</label>
        <input type="search" class="search-bar__form-search" id="busqueda">
        <input type="submit" value="Buscar" class="search-bar__form-submit">
      </form>
      <div class="search-bar__carrito-container">C</div>
      <div class="menu-toggle">
        <label for="menu" class="menu-toggle__label">
          <span class="menu-toggle__top-bread"></span>
          <span class="menu-toggle__meat"></span>
          <span class="menu-toggle__bottom-bread"></span>
        </label>
      </div>
    </div> <!-- search-bar -->

  </header>

  <section class="about-us">
    <div class="about-us__title">
      <h1>¿Quiénes somos?</h1>
    </div>
    <div class="about-us__content">
      <p><span class="about-us__span">¡Bienvenidos a ArduShop!</span></p>
      <br>
      <p>
        Somos tu destino confiable y apasionado para todo lo relacionado con la emocionante y creativa mundo de
        Arduino.
        Desde 2020, hemos estado brindando soluciones innovadoras y productos de alta calidad en la Ciudad Autónoma de
        Buenos Aires y más allá. Nos enorgullecemos de ser líderes en la venta de artículos de Arduino, atendiendo tanto
        a
        clientes mayoristas como minoristas.
      </p>
      <br>
      <p>
        Nuestra historia comenzó con la pasión por la electrónica y la programación. Impulsados por el deseo de
        compartir
        nuestra fascinación por Arduino, decidimos establecer ArduShop. A lo largo de los años, hemos cultivado
        relaciones
        sólidas con fabricantes y proveedores confiables, lo que nos permite ofrecerte una amplia gama de productos que
        abarcan desde placas Arduino hasta componentes y accesorios especializados.
      </p>
      <br>
      <p>
        Lo que nos distingue es nuestro compromiso inquebrantable con la satisfacción del cliente. Nos esforzamos por
        brindar un servicio personalizado que se adapte a tus necesidades específicas, ya sea que estés comenzando tu
        viaje en el mundo de la electrónica o que seas un experto en Arduino. Nuestro equipo de expertos apasionados
        está
        aquí para asesorarte, responder tus preguntas y proporcionarte la orientación necesaria para que tus proyectos
        se
        conviertan en realidad.
      </p>
      <p>
        Ya sea que estés buscando expandir tus capacidades creativas, impulsar la educación en STEM o llevar a cabo
        proyectos innovadores, ArduShop es tu socio confiable en cada paso del camino.
      </p>
      <br>
      <p>
        Te invitamos a explorar nuestra colección de productos y descubrir cómo Arduino puede abrir un mundo de
        posibilidades. ¡Gracias por elegirnos como tu fuente confiable para todo lo relacionado con Arduino!
      </p>
      <br>
      </p>
      ¡Construyamos juntos el futuro, un circuito a la vez!
      </p>
      <br>
      <p>ArduShop</p>
    </div>
  </section>

  <footer class="foot"> <!-- footer -->
    <div class="foot__shop">
      <div class="foot__shop-title">ArduShop</div>
      <div class="foot__shop-content">Copyright © 2020-2023 ArduShop S.R.L.</div>
    </div>
    <div class="foot__contact">
      <div class="foot__contact-title">Contacto</div>
      <div class="foot__contact-content">+54-11-xxxx-xxxx</div>
    </div>
    <div class="foot__followus">
      <div class="foot__followus-title">Seguinos</div>
      <div class="foot__followus-content">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-facebook"></i>
      </div>
    </div>
  </footer> <!-- footer -->

  <script type="module" src="/main.js"></script>
</body>

</html>