.card {
  outline: none; /* Como el borde pero no ocupa espacio en la caja */
  width: 220px;
  max-width: 300px;
  height: 400px;
  color: black;
  overflow: hidden; /* Si el contenido ocupa más espacio que el tamaño del contenedor. Queda oculto */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgba(255, 166, 0, 0.712);
  box-shadow: 0 1px 5px rgba(0,0,0, .2), 0 0 3px rgba(0,0,0, .3);

  transition: all .2s;

  &:hover,
  &:focus {
    transform: scale(1.03) skewX(0);
    transform-origin: bottom;
    box-shadow: 0 7px 8px rgba(0,0,0, .05), 0 3px 3px rgba(104, 101, 101, 0.01);
  }

  &__image-container {
    height: 200px;
    background-color: blue;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 200px, 0 195px);
  }

  &:hover &__image-container,
  &:focus &__image-container {
    clip-path: polygon(0 0, 100% 0, 100% 190px, 0 200px);
  }

  &__image {
    width: 100%;
    height: 100%; /* 200px */
    object-fit: cover;
    transition: .2s;
  }

  &:hover &__image,
  &:focus &__image {
    transform: scale(1.2) rotate(5deg);
    transform-origin: center;
  }

  &__content {
    padding: 1em;
  }

  @media (min-width: 1024px) {
    & { /* .card */
      min-width: 240px;
    }
  }

  @media (min-width: 426px) and (max-width: 768px) {
    & {
      min-width: 400px;
      max-width: 500px;
      height: 200px;
    }

    &__article { /* .card__article */
      display: flex;
    }

    & &__image-container {
      width: 40%;
      clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
    }
    
    &:hover &__image-container, /* .card:hover .card__image-container */
    &:focus &__image-container {
      width: 40%;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }
}
